:root {
  --primary-blue: #0B4F9C;
  --accent-green: #18A558;
  --light-mint: #BFECD8;
  --sky-bg: #D6F0FF;
  --soft-gray: #E6EEF2;
  --dark-slate: #1F2D3A;
}

body {
  font-family: Arial, sans-serif;
  background: var(--sky-bg);  
  margin: 0;
}


.container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: var(--soft-gray); 
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(11, 79, 156, 0.15);
}

h2, h3 {
  text-align: center;
  color: var(--primary-blue);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid var(--primary-blue);
  background: white;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--accent-green); 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #148A4A; 
}

